


.btn-icon {
	padding: 0px;
	aspect-ratio: 1;
}

.footer {
	text-align: center;
	margin: 2rem 0;
	margin-top: 6rem;
	font-size: 0.75rem;
	opacity: 0.6;
}


a {
	color: teal;
}

a:visited {
	color: darkslategray;
}


.empty-list-message{
	text-align: center;
	margin: 2rem 0;
	opacity: 0.6;

}

.rotate-box{
	@extend .rotate;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rotate {
	animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

.header-title{
	cursor: pointer;
	img{
		height: 1.5rem;
		margin-top: 0.7rem;
	}
	
}

.red{
	color: red;
	font-size: larger;
}

.googlebtn{
	&:hover{
		background-color: #fafafa !important;
		color: black !important;
		border-color: #00000033 !important;

	}
	&:active{
		background-color: #DDDDDD !important;
		color: black !important;
		border-color: #00000033 !important;
	}
}

.profile-img{
	height: 100px;
	width: 100px;

	& ~ div{
		visibility:hidden;
	}

	&:hover ~ div{
		visibility: visible;
	}
}

.sister-link{
	font-weight: bold;
	padding: 0.5rem 0.9rem; 
	border-radius: 3rem; 
	color: white !important; 
	//border: 2px solid #ff4500; 
	text-decoration: none;
	&:hover {
		filter: brightness(90%);
	  }
}

.icon-mat{
	width: 1.5rem;
	height: 1.5rem;
}

.action-mat{
	filter: brightness(0) saturate(100%) invert(32%) sepia(67%) saturate(1673%) hue-rotate(215deg) brightness(83%) contrast(89%);
	//filter: invert(12%) sepia(88%) saturate(6812%) hue-rotate(271deg) brightness(92%) contrast(125%);
}

.gap-3{
	gap: 3rem;
}

.text-justify{
	text-align: justify;
}
